@media only screen and (min-width: 768px) {
  /* Desktop */
}
@media only screen and (max-width: 768px) {
  /* Tablets */
  #menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .carousel {
    width: 70%;
  }
  .contenedor__productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cuadros {
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-box-var;
    width: 70%;
  }

  .zoom {
    width: 50%;
    margin-bottom: 50px;
  }

  .review {
    display: flex;
    flex-direction: column;
  }
  .contenedor__review {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
  }
  .hero__prod {
    width: 100%;
    margin: 0 auto;
  }

  .productos {
    display: flex;
    flex-direction: column;
  }

  .contenedor__prod {
    border: $silver-border;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor__prod {
    margin: 50px;
    padding: 10px;
  }
  .prod {
    width: 50%;
    border-radius: 20%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 500px) {
  /* Mobile */
  #menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .carousel {
    width: 85%;
  }
  .contenedor__productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cuadros {
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-box-var;
    width: 80%;
  }
  .contenedor__review {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
  }
  .contenedor__prod {
    border: $silver-border;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor__prod {
    margin: 20px;
    padding: 10px;
  }
  .prod {
    width: 70%;
    border-radius: 20%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .tarjeta {
    background-image: url(https://img.freepik.com/free-vector/avocado-cartoon-background-avocado-fruit-seamless-pattern_77895-155.jpg?size=338&ext=jpg);
    background-color: rgb(125, 177, 113);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 5px 3px 18px #2c2c2c;
  }

  .tarjeta__contenido {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10%;
  }

  .tarjeta__contenido2 {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10%;
  }

  .tarjeta__img {
    width: 170px;
    height: 180px;
    margin-right: 30px;
    border-radius: 90%;
  }

  .tarjeta__titulo {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: $font-fredoka;
    text-align: center;
  }

  .tarjeta__parrafo {
    line-height: 28px;
    font-size: 1rem;
    font-family: $font-fredoka;
    text-align: center;
  }

  .tarjeta__descripcion {
    font-family: $font-dosis;
    text-align: center;
  }

  .tarjeta__titulo2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: $font-fredoka;
    text-align: center;
  }

  .tarjeta__parrafo2 {
    line-height: 28px;
    font-size: 1rem;
    font-family: $font-fredoka;
    text-align: center;
  }

  .tarjeta__descripcion2 {
    font-family: $font-dosis;
    text-align: center;
  }
}
